<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  
  <title>Restaurant Apps</title>
  <meta name="theme-color" content="#B5CB99"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/tablet.css">
  <link rel="stylesheet" href="../styles/mobile.css">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

</head>

<body>

  <nav class="off-canvas" id="myNav">
    <a href="#main-content" tabindex="0" class="skip-link">Langsung ke konten</a>
    <a class="drawer" href="#" id="drawer">☰</a>
    <label class="logo">Presto</label>
    <ul class="menu" id="drawer-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/favorite">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/purnamaashr/">About Us</a></li>
    </ul>
  </nav>

  <main id="main">
    <h1 class="explore-title">Restaurant Explore</h1>
    <div class="container">
      <div id="restaurant-cards" class="grid">
      </div>
    </div>
  </main>

  <footer>Copyright &copy Purnama Ashari 2023 Dicoding x SIB Batch 5</footer>
  
  <script type="module" src="../scripts/index.js"></script>
  
 
</body>

</html>